@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.fc-content{
    color: white !important;
    background-color:  #002266  !important;
}

.fc-event {
	border: none !important;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: black !important;
}

.fc-row {
    background-color: #5b7ab9 !important;
}

.fc-day-top.fc-other-month{
    opacity: 0.4 !important;
    color: black  !important;
}

.fc-today, .fc-today.fc-other-month{
    opacity: 1 !important;
    background-color: #8cadef !important;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    border-right: 2px solid #374f7e;
    text-shadow: 1px 1px 5px black;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    border-bottom: 2px dotted #374f7e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #374f7e;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-shadow: 1px 1px 5px white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background:  #374f7e;
    text-shadow: 1px 1px 1px black;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.header-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    max-height: 80px;
    background-color: #7386D5;
    border-bottom: 2px solid #374f7e;
    text-shadow: 1px 1px 1px black;
}

a{outline:none}

.resize-calendar {
    text-align: center;
    width: 90%;
    height: 90%;
}

.align-labels{
    text-align: left;
    margin-top: 5%;
}

.table{
   background-color: #5b7ab9;
}

table.table-bordered{
    border:1px solid #374f7e;
    margin-top:20px;
}

table.table-bordered > thead > tr > th{
    border:1px solid #374f7e;
}

table.table-bordered > tbody > tr > td{
    border:1px solid #374f7e;
}

div.img_background {
    background-image: url("fundo.png");
    background-size: cover;
    background-position: center center;
    background-color: #5b7ab9;
}